<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GA Hacker Helper</title>
  <!-- Jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Ajax page scripts -->
  <script type="text/javascript" src="/js/scripts.js"></script>
  <!-- custom css -->
  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize -->
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png"  href="/images/bookicon.png">
</head>

<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br>
        <br>
        <h1 class="header center text-lighten-2">GA Hacker Helper</h1>
        <div class="row center">
          <h5 class="header col s12 light">All your GA resources in one place</h5>
        </div>
      </div>
    </div>
  </div>

  <nav class='hide-on-small-only'>
    <div class="nav-wrapper">
      <ul>
        <li><a href="/">Home</i></a></li>
        {{#if currentUser}}
        <li><a href="/logout">Logout</a></li<a>
          {{else}}
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
          {{/if}}
      </ul>
    </div>
  </nav>

  <ul id="slide-out" class="side-nav">
    <li><a href="/">Home</i></a></li>
    {{#if currentUser}}
    <li><a href="/logout">Logout</a></li>
      {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Signup</a></li>
      {{/if}}
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Topics<i class="mdi-navigation-arrow-drop-down"></i></a>
          <div class="collapsible-body">
            <ul>
              {{#each topics}}
              <li><a href="/topics/{{id}}">{{name}}</a></li>
              {{/each}}
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
  <br>
  <br> {{{body}}}

  <footer>
    <span class = "fa fa-star fa-spin"></span>
    <p>Created for General Assembly DC's Web Development Immersive<br>
    &copy; Alex Screven, Alice Frumin, &amp; Starr Chen</p>
  </footer>
</body>

</html>
