<div class="row center">
  <a href="/topics/new" id="download-button" class="btn-large hoverable waves-effect waves-light lighten-1">New Topic</a>
</div>
    {{#each topics}}
<div class='container' id='topicContainer'>
<div class="row">
    <div class="col s12">
      <div class="card activator" id='topicCard'>
        <div id='color-one' class='center'>
          <div class="card-image waves-effect waves-block waves-light">
            <img class='card-image activator responsive-img ' src="{{imageUrl}}">
          </div>
          <div class='card-content topic-description'>
            <span class="card-title indigo-text text-darken-4 activator" id='topicName'>{{name}}: </span>
            <p class='activator indigo-text text-lighten-4' id='topicDescription'>{{description}}</p></br>
            <a href="/topics/{{_id}}">Add Link</a>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
        </div>
      </div>
    </div>
</div>
</div>
    {{/each}}
