<div class="row center">
  <a href="/topics/new" id="download-button" class="btn-large hoverable waves-effect waves-light lighten-1">New Topic</a>
</div>


<div class='container' id='topicContainer'>
  <div class="row">
    {{#each topics}}
    <div class="col s12">
      <div class="card activator" id='topicCard'>
        <div id='color-one'>
          <div class="card-image waves-effect waves-block waves-light">
            <img class='activator' src="{{imageUrl}}">
          </div>
          <div class='card-content topic-description center'>
            <span class="card-title activator center" id='topicName'>{{name}}<i class="material-icons right">more_vert</i></span>
            <p class='center-align' id='topicDescription'>{{description}}</p>
            <a class='white-text' href="/topics/{{_id}}">Learn More</a>
          </div>
          </div>


        <div class="card-reveal" id='learn-more'>
          <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
        </div>
      </div>
      </div>
      {{/each}}
    </div>
  </div>
