
<a href="/topics/new">New Topic</a>
{{#each topics}}
  <div class="topic">
    <div class="topicName"><a href="/topics/{{_id}}">{{name}}</a></div>
    <!-- {{#each reminders}} -->
      <!-- <p class="reminder">{{body}}</p> -->
    <!-- {{/each}} -->
    <!-- <br> -->
  </div>
{{/each}}


 <!-- ```<a href="/authors/new">New Author</a> -->

<!-- {{#each authors}} -->
  <!-- <div class="author"> -->
    <!-- <div class="authorName"><a href="/authors/{{_id}}">{{name}}</a></div>
    {{#each reminders}}
      <p class="reminder">{{body}}</p>
    {{/each}}
    <br>
  </div>
{{/each}} -->
