<!-- Topic Info -->
<h2 class='center' id='new-topic-header'>{{topic.name}}</h2>
<h4 class="center">{{topic.description}}</h4>

<!-- Topic Edit -->
<div class='center'>
  <a href="/topics/{{topic.id}}/edit" class="white-text btn submit waves-effect waves-light" type="submit" name="action">Edit Topic</a>
</div>

<div class='container'>
  <div class="row section collection-item">
    <h4 class='center'>Links</h4>
    <ul>

      <!-- Topic links -->
      {{#each topic.links}}
      <li>
        <div class='show-links brown lighten-3 col s6'><h5 class="link-title">{{title}}  <a target="_blank" href="{{url}}" class="secondary-content">
          <i class="material-icons indigo-text text-darken-4">send</i></a></h5>
          <p>{{summary}}</p>
          <!-- link delete -->
          <form method="post" class='center' action="/topics/{{../topic._id}}/links/{{id}}" onsubmit="return confirm('Are you sure you want to delete this link?')">
            <input type="hidden" name="_method" value="DELETE" />
            <button class="btn waves-effect waves-light" type="submit" name="action">
              <i class="material-icons">delete</i>
            </button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

  <!-- Topic Delete -->
  <form method="post" class='center' action="/topics/{{topic.id}}" onsubmit="return confirm('Are you sure you want to delete this topic and all of its links?')">
    <input type="hidden" name="_method" value="DELETE"/>
    <button id="delete-topic" class="btn submit waves-effect waves-light" type="submit" name="action">Delete topic
      <i class="material-icons right">delete</i>
    </button>
  </form>

  <!-- add link -->
  <div id="new-link" class="col s3">
    <h3>New Link</h3>
    <form action="/topics/{{topic._id}}/links" method="post">
      <label>Title</label>
      <input type="text" name="title">
      <label>URL</label>
      <input type="text" name="url">
      <label>Summary</label>
      <input type="text" name="summary">
      <label>Source</label>
      <input type="text" name="source">
      <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">add</i> Add this link</button>
    </form>
  </div>
</div>
