<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
<h1> {{topic.name}} </h1>
<p> {{topic.description}} </p>

<div class="editTopic"><a href="/topics/{{topic.id}}/edit">Edit</a></div>

<form method="post" action="/topics/{{topic.id}}?_method=delete">
  <input type="submit" value="delete topic">
</form>

<a href="/topics/{{_id}}/links/new">add new</a>
{{#each topic.links}}
  <a href="{{url}}"><p>{{url}}</p></a>
{{/each}}
