<h1> {{topic.name}} </h1>
<p> {{topic.description}} </p>
<button type="button">edit topic</button>
<form method="post" action="/topics/{{topic.id}}?_method=delete">
  <input type="submit" value="delete topic">
</form>

{{#each topic.links}}
  <a href="{{url}}"><p>{{url}}</p></a>
{{/each}}
