<div class="container">
<h1>{{topic.name}} </h1>
<p> {{topic.description}} </p>
<!-- topic edit -->
<div class="editTopic"><a class="black-text waves-effect waves-light btn" href="/topics/{{topic.id}}/edit">Edit</a></div>
<!-- topic delete -->
<form method="post" action="/topics/{{topic.id}}">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="delete topic" class="black-text waves-effect waves-light btn">
</form>

<!-- links -->
{{#each topic.links}}
<a href="{{url}}"><p>{{url}}</p></a>,<p>{{summary}}</p>
<form method="post" action="/topics/{{../topic._id}}/links/{{id}}">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete This Link">
</form>
{{/each}}

<!-- add link -->
<div id="link-new">
  <h3>New Link</h3>
  <form action="/topics/{{topic._id}}/links" method="post">
    <label>Title</label>
    <input type="text" name="title">
    <label>url</label>
    <input type="text" name="url">
    <label>summary</label>
    <input type="text" name="summary">
    <label>source</label>
    <input type="text" name="source">
    <input type="submit">
  </form>
</div>
</div>
